.App {
  text-align: center;
  height: 100vh;
  background-color: white;
  font-family: sans-serif;
}

/* 'ROCK PAPER SCISSORS' MADE BIGGER */
.heading {
  font-size: 50px;
}

/* REMEMBER: THE DIV WITH CLASSNAME "SCORE" CONTAINS THE TWO H1 ELEMENTS THAT DISPLAY THE USER AND COMPUTER POINTS.
THIS CLASS PUTS USER POINTS TO LEFT; COMPUTER POINTS TO RIGHT */
.score {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* REMEMBER: THE DIV ELEMENT WITH CLASSNAME "CHOICE" CONTAINS THE DIVS THAT HAVE THE HAND IMAGES IN THEM.
"DISPLAY: FLEX" & "JUSTIFY-CONTENT: CENTER" PUTS THEM SIDE BY SIDE AND CENTERS THEM. BEFORE, THEY WERE STACKED */
.avatars {
  height: 25vh;
  display: flex;
  justify-content: center;
  padding: 200px;
}

.computer-hand {
  width: 250px;
}

.user-hand {
  width: 250px;
  transform: rotateY(180deg);
}

/* REMEMBER THAT THE FIRST "BUTTON-DIV" CONTAINS THE ROCK, PAPER, AND SCISSORS BUTTON ELEMENTS. THE SECOND ONE CONTAINS ONLY THE
RESET BUTTON. THIS CLASS SIMPLY CENTERS THE BUTTONS, PUT THEM SIDE-BY-SIDE, AND GIVE THEM PADDING AT THE TOP. */
.button-div {
  display: flex;
  justify-content: center;
}

/* THE INDIVIDUAL BUTTONS. 
NOTE: JUSTIFY-CONTENT: SPACE-AROUND IS THIS: The items are evenly distributed within the alignment container along the main 
axis. The spacing between each pair of adjacent items is the same. The first item is flush with the main-start edge, and the 
last item is flush with the main-end edge.*/
.button {
  width: 150px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: coral;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  padding: 50px;
}

.resize {
  width: 300px;
  height: auto;
}
